.ContactItem__container {
  margin-top: 2%;
    width: 400px;
    border: solid 1px rgb(170, 0, 105);
    border-radius: 3em;
    padding: 1em;
    margin-bottom: 1em;
    display: inline-flexbox;
    cursor: pointer;
  }